.profile {
position: absolute;
left: 25%;
top: 15%;
background-color: white;
text-align: center;
width: 50%;
height: 600px;
border: 2px solid black;

}


.displaytotaldata {
list-style-type: none;
text-align: left;
font-size: large;
margin-top: 10%;

}


.msg {
  font-size: large;
  
}
